{% if site.stheme.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.stheme.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.email_address %}
<li>
	<a href="mailto:{{ site.stheme.email_address }}" title="{{ site.stheme.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.behance %}
<li>
	<a href="https://www.behance.net/{{ site.stheme.behance }}" title="{{ site.stheme.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.stheme.bitbucket }}" title="{{ site.stheme.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.stheme.dribbble }}" title="{{ site.stheme.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.stheme.facebook }}" title="{{ site.stheme.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.stheme.flickr }}" title="{{ site.stheme.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.github %}
<li>
	<a href="https://github.com/{{ site.stheme.github }}" title="{{ site.stheme.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.stheme.google_plus }}" title="{{ site.stheme.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.instagram %}
<li>
	<a href="http://instagram.com/{{ site.stheme.instagram }}" title="{{ site.stheme.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.linkedin %}
<li>
	<a href="{{ site.stheme.linkedin }}" title="{{ site.stheme.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.stheme.pinterest }}" title="{{ site.stheme.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.stheme.reddit }}" title="{{ site.stheme.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.stheme.soundcloud }}" title="{{ site.stheme.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.stack_exchange %}
<li>
	<a href="{{ site.stheme.stack_exchange }}" title="{{ site.stheme.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.stheme.steam }}" title="{{ site.stheme.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.tumblr %}
<li>
	<a href="http://{{ site.stheme.tumblr }}.tumblr.com/" title="{{ site.stheme.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.twitter %}
<li>
	<a href="https://twitter.com/{{ site.stheme.twitter }}" title="{{ site.stheme.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.wordpress %}
<li>
	<a href="https://{{ site.stheme.wordpress }}.wordpress.com/" title="{{ site.stheme.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.stheme.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.stheme.youtube }}" title="{{ site.stheme.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
